body {
  color: #363456;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* your styles */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}
